@charset "utf-8";

h1{
  padding:2%;
  color:red;
  background-color:yellow;
  background:linear-gradient(blue 10%,green 90%);
  text-shadow:5px 10px 2px blue;
  border-radius:20px;
}

p{
  background-color:darkgray;
  padding:3%;
  font-size:120%;
}
